[user]
	name = Saranya Selvaraj
	email = saranya.professional7@gmail.com
[core]
	excludesfile = /Users/saranya.selvaraj/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/saranya.selvaraj/.gitmessage.txt
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[git-mob-config]
	github-fetch = true
[http]
	postBuffer = 524288000
